
mysql/data/


nginx/logs/


nginx/sites/*
!nginx/sites/default.conf
!nginx/sites/api.dev.conf



!.gitignore


!.editorconfig


!readme.md


!.gitattributes


!.env.example


!.htaccess


~*


ehthumbs.db
Thumbs.db


*.sublime-project
*.sublime-workspace
*.komodoproject
.idea


*.log
*.sql
*.sqlite


*.com
*.class
*.dll
*.exe
*.o
*.so


*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

.DS_Store
